<div class="footer_top">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-3">
        <h4 class="footer_top-title">central de ajuda</h4>
        <ul class="footer_top-menu">
          <li>
            <a href="#" class="footer_top-menu-item">central de Atendimento</a>
          </li>
          <li><a href="#" class="footer_top-menu-item">Envio e Entrega</a></li>
          <li>
            <a href="#" class="footer_top-menu-item">Navegando e Comprando</a>
          </li>
          <li>
            <a href="#" class="footer_top-menu-item">Trocas e Devoluções</a>
          </li>
          <li><a href="#" class="footer_top-menu-item">Fale Conosco</a></li>
          <li><a href="#" class="footer_top-menu-item">Mapa do Site</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-3">
        <h4 class="footer_top-title">Institucional</h4>
        <ul class="footer_top-menu">
          <li><a href="#" class="footer_top-menu-item">Quem Somos</a></li>
          <li><a href="#" class="footer_top-menu-item">Nossas Lojas</a></li>
          <li>
            <a href="#" class="footer_top-menu-item">Política de Privacidade</a>
          </li>
          <li><a href="#" class="footer_top-menu-item">Afiliados</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-3">
        <h4 class="footer_top-title">Atendimento</h4>
        <div class="contact">
          <p>TELEVENDAS 0800 - 0000 | SAC 0800 - 0000</p>
          <p>Horário de Atendimento</p>
          <p>De segunda a sexta das 00 as 00</p>
        </div>
      </div>

      <div class="col-sm-6 col-3">
        <h4 class="footer_top-title">Certificados</h4>
        <img class="footer_top-cert" src="./img/certificado.gif" alt="" />
      </div>
    </div>
  </div>
</div>
