<div class="footer_center">
  <div class="container">
    <div class="row">
      <div class="mb col-sm-12 col-3 col-start col-flex col-middle">
        <div class="footer_center-call">
          <i class="fa fa-credit-card" aria-hidden="true"></i> formas de
          pagamentos
        </div>
      </div>

      <div class="col-sm-12 col-flex col-middle">
        <ul class="footer_center-menu">
          <li class="footer_center-menu-item">
            <img src="./img/card/visa.png" alt="" />
          </li>
          <li class="footer_center-menu-item">
            <img src="./img/card/mastercard.png" alt="" />
          </li>
          <li class="footer_center-menu-item">
            <img src="./img/card/amex.png" alt="" />
          </li>
          <li class="footer_center-menu-item">
            <img src="./img/card/elo.png" alt="" />
          </li>
          <li class="footer_center-menu-item">
            <img src="./img/card/hipercard.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
