---
layout: base
title: Index
permalink: /
---

<section class="slide full-picture mb">
  {% include section/slide.html %}
</section>

<section class="promotional_bar hide-mobile">
  {% include section/promotionalBar.html %}
</section>

<section class="spotlights">{% include section/spotlights1.html %}</section>

<section class="products">{% include section/products.html %}</section>

<section class="news hide-mobile">{% include section/news.html %}</section>

<section class="spotlights spotlights_bottom hide-mobile">
  {% include section/spotlights2.html %}
</section>

<section class="instagram hide-mobile">
  {% include section/instagram.html %}
</section>

<section class="newsletter">{% include section/newsletter.html %}</section>
