$screen-desktopfull: 1200px;
$screen-desktop: 992px;
$screen-tablet: 768px;
$screen-mobile: 767px;

@mixin desktopfull {
  @media screen and (min-width: #{$screen-desktopfull}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$screen-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$screen-tablet}) {
    @content;
  }
}

@mixin tabletLandscape {
  @media screen and (min-width: #{$screen-tablet}) and (orientation: landscape) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$screen-mobile}) {
    @content;
  }
}
