<div class="header_center">
  <div class="container">
    <div class="row">
      <div class="hide-mobile col-4 col-start col-flex col-middle">
        <div class="header_center-search">
          <input
            type="search"
            name=""
            id=""
            placeholder="Digite o que você procura..."
          />
          <button class="button-search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="col-sm-center col-sm-12 col-4 col-center">
        <a href="#" class="header_center-logo">
          <img src="./img/logo.png" alt="" />
        </a>
      </div>

      <div class="hide-mobile col-4 col-end col-flex col-middle">
        <ul class="header_center-menu">
          <li>
            <a href="#" class="header_center-menu-item">
              <i class="fa fa-heart" aria-hidden="true"></i> lista de desejos
            </a>
          </li>

          <li class="header_center-menu-drop">
            <a href="#" class="header_center-menu-item">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i> 02 itens
            </a>
            <div class="dropdown ">
              <div class="dropdown_item col-flex col-top">
                <img width="100" src="./img/news.png" alt="" />
                <div class="dropdown_detail">
                  <h5 class="product">Nome do produto</h5>
                  <p>COD. 1234567890</p>
                  <p>Cor: lorem</p>
                  <p>Tamanho: 42</p>
                  <p>Quantidade: 1</p>
                  <p class="value">Valor: <b>R$900</b></p>
                </div>
              </div>
              <div class="dropdown_item col-flex col-top">
                <img width="100" src="./img/news.png" alt="" />
                <div class="dropdown_detail">
                  <h5 class="product">Nome do produto</h5>
                  <p>COD. 1234567890</p>
                  <p>Cor: lorem</p>
                  <p>Tamanho: 42</p>
                  <p>Quantidade: 1</p>
                  <p class="value">Valor: <b>R$900</b></p>
                </div>
              </div>

              <div class="dropdown_total">
                <span class="qnt">2 itens no carrinho</span>
                <span class="value">Total: R$ 1800,00</span>
              </div>

              <div class="dropdown_actions col-flex col-middle col-center">
                <a class="link" href="">continuar comprando</a>
                <a class="btn" href="">finalizar compra</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
