<div class="header_bottom hide-mobile">
  <div class="container">
    <div class="row">
      <div class="col-2 col-start col-flex col-middle show-fixed">
        <a href="#" class="link-logo">
          <img width="140" src="./img/logo.png" alt="" />
        </a>
      </div>

      <div class="col-8 col-center col-flex col-middle">
        <ul class="header_bottom-menu">
          <li class="header_bottom-menu-drop">
            <a href="#" class="header_bottom-menu-item">novidade</a>
            <div class="dropdown ">
              <div class="col-flex col-top">
                <ul class="dropdown_list">
                  <li><a href="">Novidade 1</a></li>
                  <li><a href="">Novidade 2</a></li>
                  <li><a href="">Novidade 3</a></li>
                  <li><a href="">Novidade 4</a></li>
                  <li><a href="">Novidade 5</a></li>
                </ul>
                <img width="200" src="./img/news.png" alt="" />
              </div>
            </div>
          </li>
          <li class="header_bottom-menu-drop">
            <a href="#" class="header_bottom-menu-item">anéis</a>
            <div class="dropdown ">
              <div class="col-flex col-top">
                <ul class="dropdown_list">
                  <li><a href="">Anéis 1</a></li>
                  <li><a href="">Anéis 2</a></li>
                  <li><a href="">Anéis 3</a></li>
                  <li><a href="">Anéis 4</a></li>
                  <li><a href="">Anéis 5</a></li>
                </ul>
                <img width="200" src="./img/news.png" alt="" />
              </div>
            </div>
          </li>
          <li class="header_bottom-menu-drop">
            <a href="#" class="header_bottom-menu-item">brincos</a>
            <div class="dropdown ">
              <div class="col-flex col-top">
                <ul class="dropdown_list">
                  <li><a href="">Brincos 1</a></li>
                  <li><a href="">Brincos 2</a></li>
                  <li><a href="">Brincos 3</a></li>
                  <li><a href="">Brincos 4</a></li>
                  <li><a href="">Brincos 5</a></li>
                </ul>
                <img width="200" src="./img/news.png" alt="" />
              </div>
            </div>
          </li>
          <li class="header_bottom-menu-drop">
            <a href="#" class="header_bottom-menu-item">colares</a>
            <div class="dropdown ">
              <div class="col-flex col-top">
                <ul class="dropdown_list">
                  <li><a href="">Colares 1</a></li>
                  <li><a href="">Colares 2</a></li>
                  <li><a href="">Colares 3</a></li>
                  <li><a href="">Colares 4</a></li>
                  <li><a href="">Colares 5</a></li>
                </ul>
                <img width="200" src="./img/news.png" alt="" />
              </div>
            </div>
          </li>
          <li class="header_bottom-menu-drop">
            <a href="#" class="header_bottom-menu-item">conjuntos</a>
          </li>
          <li class="header_bottom-menu-drop">
            <a href="#" class="header_bottom-menu-item">sales</a>
          </li>
        </ul>
      </div>

      <div class="col-2 col-end col-flex col-middle show-fixed">
        <ul class="header_bottom-menu">
          <li>
            <a href="#" class="header_bottom-menu-item">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="header_bottom-menu-item">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="header_bottom-menu-item">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
