<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="instagram_title">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <a href="">@nayaramarra</a>
      </div>

      <div class="instagram_widget instagram-slide">
        <div class="instagram_widget-item">
          <img src="./img/instagram/instagram1.jpg" alt="" />
        </div>
        <div class="instagram_widget-item">
          <img src="./img/instagram/instagram2.jpg" alt="" />
        </div>
        <div class="instagram_widget-item">
          <img src="./img/instagram/instagram3.jpg" alt="" />
        </div>
        <div class="instagram_widget-item">
          <img src="./img/instagram/instagram1.jpg" alt="" />
        </div>
        <div class="instagram_widget-item">
          <img src="./img/instagram/instagram2.jpg" alt="" />
        </div>
        <div class="instagram_widget-item">
          <img src="./img/instagram/instagram3.jpg" alt="" />
        </div>
        <div class="instagram_widget-item">
          <img src="./img/instagram/instagram1.jpg" alt="" />
        </div>
        <div class="instagram_widget-item">
          <img src="./img/instagram/instagram2.jpg" alt="" />
        </div>
        <div class="instagram_widget-item">
          <img src="./img/instagram/instagram3.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
