<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="title_block"><span>lançamentos</span></h2>

      <div class="carrousel">
        <ul class="news-slide carrousel_list">
          <li class="carrousel_list-item">
            <a href="" class="carrousel_list-item-pic">
              <img src="./img/news.png" alt="" />
              <div class="hover">
                <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
              </div>
              <div class="promo"><b>50%</b> <span>off</span></div>
            </a>

            <div class="carrousel_list-item-infos">
              <h5>LOREM IPSUM DOLOR SIT AMET claritas adhemas</h5>
              <p class="value"><span>R$ 1040,00</span> R$ 900,00</p>
              <p class="parcel">2x de R$ 450,00 sem juros</p>
              <a class="btn-action" href="">comprar</a>
            </div>
          </li>
          <li class="carrousel_list-item">
            <a href="" class="carrousel_list-item-pic">
              <img src="./img/news.png" alt="" />
              <div class="hover">
                <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
              </div>
              <div class="promo"><b>50%</b> <span>off</span></div>
            </a>

            <div class="carrousel_list-item-infos">
              <h5>LOREM IPSUM DOLOR SIT AMET claritas adhemas</h5>
              <p class="value"><span>R$ 1040,00</span> R$ 900,00</p>
              <p class="parcel">2x de R$ 450,00 sem juros</p>
              <a class="btn-action" href="">comprar</a>
            </div>
          </li>
          <li class="carrousel_list-item">
            <a href="" class="carrousel_list-item-pic">
              <img src="./img/news.png" alt="" />
              <div class="hover">
                <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
              </div>
              <div class="promo"><b>50%</b> <span>off</span></div>
            </a>

            <div class="carrousel_list-item-infos">
              <h5>LOREM IPSUM DOLOR SIT AMET claritas adhemas</h5>
              <p class="value"><span>R$ 1040,00</span> R$ 900,00</p>
              <p class="parcel">2x de R$ 450,00 sem juros</p>
              <a class="btn-action" href="">comprar</a>
            </div>
          </li>
          <li class="carrousel_list-item">
            <a href="" class="carrousel_list-item-pic">
              <img src="./img/news.png" alt="" />
              <div class="hover">
                <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
              </div>
              <div class="promo"><b>50%</b> <span>off</span></div>
            </a>

            <div class="carrousel_list-item-infos">
              <h5>LOREM IPSUM DOLOR SIT AMET claritas adhemas</h5>
              <p class="value"><span>R$ 1040,00</span> R$ 900,00</p>
              <p class="parcel">2x de R$ 450,00 sem juros</p>
              <a class="btn-action" href="">comprar</a>
            </div>
          </li>
          <li class="carrousel_list-item">
            <a href="" class="carrousel_list-item-pic">
              <img src="./img/news.png" alt="" />
              <div class="hover">
                <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
              </div>
              <div class="promo"><b>50%</b> <span>off</span></div>
            </a>

            <div class="carrousel_list-item-infos">
              <h5>LOREM IPSUM DOLOR SIT AMET claritas adhemas</h5>
              <p class="value"><span>R$ 1040,00</span> R$ 900,00</p>
              <p class="parcel">2x de R$ 450,00 sem juros</p>
              <a class="btn-action" href="">comprar</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
