<div class="container">
  <div class="row">
    <div class="mb col-sm-12 col-4">
      <div class="products_item col-flex col-middle">
        <div class="products_item-pic">
          <img src="./img/product/product1.png" alt="" />
        </div>
        <div class="products_item-action">
          <h5>anéis</h5>
          <a class="btn-action" href="">shop now</a>
        </div>
      </div>
    </div>

    <div class="mb col-sm-12 col-4">
      <div class="products_item col-flex col-middle">
        <div class="products_item-pic">
          <img src="./img/product/product2.png" alt="" />
        </div>
        <div class="products_item-action">
          <h5>brincos</h5>
          <a class="btn-action" href="">shop now</a>
        </div>
      </div>
    </div>

    <div class="mb col-sm-12 col-4">
      <div class="products_item col-flex col-middle">
        <div class="products_item-pic">
          <img src="./img/product/product3.png" alt="" />
        </div>
        <div class="products_item-action">
          <h5>colares</h5>
          <a class="btn-action" href="">shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
