<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="promotional_bar-menu">
        <li class="promotional_bar-menu-item">
          <i class="fa fa-truck" aria-hidden="true"></i> frete grátis acima de
          <b>R$200.00</b>
        </li>

        <li class="promotional_bar-menu-item">
          <i class="fa fa-credit-card" aria-hidden="true"></i> até
          <b>10x</b> sem juros
        </li>

        <li class="promotional_bar-menu-item">
          <i class="fa fa-percent" aria-hidden="true"></i> <b>10% OFF</b> à
          vista no cartão ou no boleto
        </li>

        <li class="promotional_bar-menu-item">
          <i class="fa fa-lock" aria-hidden="true"></i> <b>segurança</b> em
          todas etapas da compra
        </li>
      </ul>
    </div>
  </div>
</div>
