<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="spotlights_box">
        <a href="" class="spotlights_box-item">
          <img
            class="spotlights_box-item-pic"
            src="./img/spotlight/spotlight4.png"
            alt=""
          />
          <div class="spotlights_box-item-title">
            <span>spotlight four</span>
          </div>
          <div class="spotlights_box-item-hover">
            <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
          </div>
        </a>
      </div>
    </div>

    <div class="col-5">
      <div class="spotlights_box">
        <a href="" class="spotlights_box-item">
          <img
            class="spotlights_box-item-pic"
            src="./img/spotlight/spotlight5.png"
            alt=""
          />
          <div class="spotlights_box-item-title">
            <span>spotlight two</span>
          </div>

          <div class="spotlights_box-item-hover">
            <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
          </div>
        </a>
      </div>
      <div class="spotlights_box spotlights_box-item-horizontal">
        <a href="" class="spotlights_box-item">
          <img
            class="spotlights_box-item-pic"
            src="./img/spotlight/spotlight6.png"
            alt=""
          />
          <div class="spotlights_box-item-title">
            <span>spotlight two</span>
          </div>

          <div class="spotlights_box-item-hover">
            <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
