<div class="row">
  <div class="col-sm-12 col-6">
    <div class="spotlights_box">
      <a href="" class="spotlights_box-item">
        <img
          class="spotlights_box-item-pic"
          src="./img/spotlight/spotlight1.png"
          alt=""
        />
        <div class="spotlights_box-item-title"><span>spotlight one</span></div>
        <div class="spotlights_box-item-hover">
          <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-12 col-6">
    <div class="spotlights_box">
      <a href="" class="spotlights_box-item">
        <img
          class="spotlights_box-item-pic"
          src="./img/spotlight/spotlight2.png"
          alt=""
        />
        <div class="spotlights_box-item-title"><span>spotlight two</span></div>

        <div class="spotlights_box-item-hover">
          <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container hide-mobile">
  <div class="row">
    <div class="col-12">
      <a href="" class="spotlights_box-item spotlights_box-item-horizontal ">
        <img
          class="spotlights_box-item-pic"
          src="./img/spotlight/spotlight3.png"
          alt=""
        />
        <div class="spotlights_box-item-title"><span>spotlight one</span></div>
        <div class="spotlights_box-item-hover">
          <i class="fa fa-eye" aria-hidden="true"></i><span>espiar</span>
        </div>
      </a>
    </div>
  </div>
</div>
